@import "tailwindcss";

@layer components{
    .btn-primary{
        @apply px-5 py-2 text-white bg-primary text-lg font-medium rounded-full transition duration-300  w-fit cursor-pointer hover:scale-[1.02]
    }
    .btn-secondary{
        @apply px-5 py-2 text-white bg-transparent border border-primary text-lg font-medium rounded-full transition duration-300  w-fit cursor-pointer hover:bg-white hover:text-black
    }
    .btn-tertiary{
        @apply px-5 py-1 border border-black font-medium rounded-full  w-fit
    }
}

@theme {
    --color-grey: #808080;
    --color-light: #ececec;
    --color-bg: #14003e;
    --color-primary: #013220;
    --color-secondary: #002014;
    --color-faint: #b79b3729;
    --color-faintbtn: #e9e9e9d9;
}


body{
  overflow-x: hidden;
  background-color: #e3e3e3;
}

html{
    scroll-behavior: smooth;
}

.overlay::after{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius:20px;
}